@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

main{

    background-color: #111;
    color:white;
    justify-content: center;
    
}

main .sobre{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    justify-content: center;
    padding:40px;
}

.sobre_titulo{
    margin:30px 0;
    grid-column: 1/-1;
    text-align: center;
    color:#fff;
}

.sobre_titulo img{
    margin-top: 40px;
    width: 20%;

}
.sobre_titulo h1{
    font-size: 2.5rem;
    color:#ff5d56;
    margin-bottom: 15px;
    font-family: 'Berkshire Swash', cursive;
}


.sobre_titulo p{
    color:#707070;
    font-size: 1.4em;
    margin-bottom: 1rem;
    position: relative;
}

.sobre_titulo div{
display: flex;
gap:10px;
justify-content: center;
}

.sobre_titulo span{
    display: block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #dc3545;
}

.sobre img{
    animation: ladoSecao .5s ease-in-out forwards;
    cursor: pointer;
    grid-row: 2;
    max-width: 100%;
    border-radius: 50%;
    filter:blur(0)
}

.sobre img:hover{
    transition: .5s ease-in;
    filter: blur(1px);
}

.sobre_conteudo{
    animation: sobSecao .6s ease-in-out forwards;
    grid-column:2/-1;
    display: grid;
    color: #707070;
    grid-template-columns: 1fr 1fr;
}


.sobre_texto{
    display: grid;
    grid-column:1/-1 ;
    grid-template-columns: 1fr 1fr;

}

.sobre_texto h1{
    font-size: 2.3rem;
    color:#fff;
    grid-column: 1/-1;
}
.sobre_texto a{
    padding-left: 15px;
    color: white;
}

.sobre_texto h1::after{
    background-color: #ff5d56;
    height: 6px;
    width: 60px;
    margin:20px 0;
    content:'';
    display: block;
    border-radius: 5px;
}

.sobre_texto p{
    font-size:1.3rem;
    grid-row: 2;
    grid-column: 1/-1;
    color:white;
}

.sobre_info{
    margin-top:30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/-1;
    gap:15px;
    align-items: center;
    color:white;
}
.sobre_info i{
    color: #dc3545;
    display: inline-block;
    font-size: 1.5rem;
    padding-right: 20px;
}

.sobre_info p{
    font-size: .9rem;
}


@keyframes sobeSecao{
    from{
        transition: .5s;
        transform: translate3d(60px, 0,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}

@keyframes ladoSecao{
    from{
        transition: .5s;
        transform: translate3d(-60px, 0,0);
    }
    to{
        transform: translate3d(0,0,0);
    }
}



@media(max-width:902px){
    .sobre img{
        grid-column: 1/-1;
        justify-self: center;
    }
    .sobre_conteudo{
        grid-column: 1/-1;
    }
}