.projects{
    padding: 30px;
    display: grid;
    justify-content: center;
    gap: 30px;
    background-color: #151515;

}

.projects ul{
    display:flex;
    justify-content: center;
    gap: 30px;
}

.projects_models ul li{
    cursor: pointer;
    font-family: 'Poppins';
    background-color: #222;
    border: 1px solid #333;
    padding: 6px 20px;
    color: #707070;
}
.projects_models ul li.ativo{
   background-color: #dc3545;
   color:#151515;
   font-weight: bold;
   animation: animationImageButtom 2s ease-in-out forwards;

}

.projects_armazenamentos ul{
    display: grid;
    margin-top: 60px;
    gap:20px;
    justify-content: center;
    grid-template-columns: repeat(4,1fr);

}

.projects_armazenamentos ul li{
    display: none;
    max-width: 100%;
    height: 100%;
}
.projects_armazenamentos ul li.ativo{
    display: block;
}

.projects_armazenamentos ul li a img{
    max-width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 4px;
}



@keyframes animationImagemButton{
    0%{
        opacity: 0;
        transform: translate3d(0, -30px, 0);
    }
    100%{
        opacity: 1;
        transform: translate3d(0,0,0);
    }

}

@media screen and (max-width:375px) {
  
   
    .projects_models ul{
        width: 90%;
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: 1fr 1fr;
      
       
    }

    .projects_armazenamentos ul{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .projects_armazenamentos ul a img{
        width: 90%;
        object-fit: cover;
        
    }
}